# Ignore cache files
__pycache__/

# Ignore the data and results directories
/src/data_full/
/src/pipeline/weights/
/RESULTS/

# Ignore files related to project setup
/build/
/src/robust_radiotherapy_planning.egg-info/
.vscode/

# Ignore environment files
.env
.env.*
/.venv/

# Ignore checkpoint files
.ipynb_checkpoints/

# Ignore notebook data
/notebooks/data
/notebooks/models
